.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: black;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
 
  
}

.sidebar-link {
  background-color: black;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-direction:column;
  cursor: pointer;
  border-radius: 8px;
  width: 68px;

  
}

.sidebar-link:hover {
  background-color: rgb(65,64,64);
}

.sidebar-link img {
  height: 30px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  color: white;
  font-size: 10px;
}

