
      .thumbnail {
        width: 100%;
        border-radius: 5%;

      }

      .video-title {
        margin-top: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 12px;
      }

      .video-info-grid {
        display: grid;
        grid-template-columns: 50px 1fr;
      }

      .profile-picture {
        width: 35px;
        border-radius: 50px;
      }

      .thumbnail-row {
        margin-bottom: 12px;
        position: relative;
      }

      .video-author,
      .video-stats {
        font-size: 12px;
        color: rgb(170, 170, 170);
      }

      .video-author {
        margin-bottom: 4px;
      }

      .video-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 30px;
        margin-bottom: 1000px;
      }


      @media (min-width: 900px) and (max-width: 1799px) {
        .video-grid {
           grid-template-columns: 1fr 1fr 1fr;
        }
       
      }

      @media (min-width: 1800px) {
        .video-grid {
           grid-template-columns: 1fr 1fr 1fr 1fr;
        }
       
      }
       @media (max-width: 700px) {
        .video-grid {
           grid-template-columns: 1fr;
        }
       
      }

       @media (max-width: 899px) and (min-width: 699px) {
        .video-grid {
           grid-template-columns: 1fr 1fr;
        }
       
      }
      


      .video-time {
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        position: absolute;
        bottom: 8px;
        right: 5px;
        font-family: Roboto, Arial;
        font-size: 12px;
        font-weight: 500;
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 4px;


      }

      .video-title-text {
        text-decoration: none;
      }